<ol class="breadcrumb">
<li class="breadcrumb-item active">Home</li>
</ol>
<table class="table table-striped table-hover" width="50%">
  <thead>
    <tr>
      <th>ID</th>
      <th>EMAIL</th>
      <th>NAME</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.name }}</td>
      <td>
        <button class="btn btn-danger" type="button" (click)="remove(user)">Del</button>
        <button class="btn btn-default" type="button" (click)="edit(user.id)">Edit</button>
        <button class="btn btn-info" type="button" (click)="info(user)">Info</button>
      </td>
    </tr>
  </tbody>
</table>